<a href="https://colab.research.google.com/github/CarolFenixBr/Digital-Innovation-One/blob/main/Trabalhando_com_Planilhas_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Trabalhando com Planilhas do Excel** #

In [ ]:
#Importando a biblioteca
import pandas as pd

In [ ]:
#Leitura dos arquivos
df1 = pd.read_excel(" ")
df2 = pd.read_excel(" ")

In [ ]:
#juntando todos os arquivos
df = pd.concat([df1,df2])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head

In [ ]:
#exibindo as 5 ultimas linhas
df.tail()

In [ ]:
#verificando o tipo de dados de cada coluna
df.dtypes

In [ ]:
#Alterando o tipo de dado da coluna
df[" "] = df[" "].astype(" ")

### **Tratando valores faltantes**

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

In [ ]:
#Substituindo os valores nulos média
df[" "].fillna(df[" "].mean(),inplace=True)

In [ ]:
#Substituindo os valores nulos por zero
df[" "].fillna(0, inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=[" "], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.drpna(how="all", inplace=True)

### **Criando colunas novas**

In [ ]:
#Criando a coluna chamada x
df["x "] = df[" y"].mul(df["Qtde"])

In [ ]:
df.head()

In [ ]:
df["x/y"] = df["x"]/ df["y"]

In [ ]:
#retornando a maior x
df["x"].max()

In [ ]:
#retornando a menor x
df["x"].min()

In [ ]:
#nlargest
df.nlargest(3,"y")

In [ ]:
#nsmallest
df.nsmallest(3,"y")

In [ ]:
#Agrupamento por "cidade"
df.groupby("Cidade")["y"]

In [ ]:
#Ordenando o conjunto de dados
df.sort_values("y", ascending=False).head(10)

## **Trabalhando com datas**

In [ ]:
#transformando a coluna de data em tipo inteiro
df["data"] = df["Data"].astype("int64")

In [ ]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
df.types

In [ ]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

In [ ]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [ ]:
#Extraindo o Mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"],dt.day)

In [ ]:
df.sample(5)

In [ ]:
#Retornando a data mais antiga
df["Data"].min()

In [ ]:
#Calculando a diferença de dia
df["diferenca_dias"] =  df["Data"] - df["Data"].min()

In [ ]:
#Filtrando as vendas de ex 2020 do mês de abril
vendas_abril_20 = df.loc[(df["Data"].dt.year == 2020)& (df["Data"].dt.month ==4)]

In [ ]:
vendas_abril_20